{% extends "base.html" %}

{% block body_class %} app-body-viewer{% endblock %}
{% block main_class %} app-content-viewer{% endblock %}

{% block head_extra %}
  {% if page_data_script %}
    <script>{{ page_data_script|safe }}</script>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="viewer-page">
    <div id="log-viewer-root" class="log-viewer-root"></div>
  </div>
{% endblock %}

{% block body_scripts %}
  <script type="module" src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
