{% extends "base.html" %}

{% block content %}
  <main class="flex-1 w-full p-3 min-h-0 flex">
    <log-viewer-app>
      <log-layout>
        <log-main-view>
          {% include 'components/shared/log_row_template.html' %}
        </log-main-view>
        <log-detail-panel></log-detail-panel>
        <log-search-panel>
          {% include 'components/shared/log_row_template.html' %}
        </log-search-panel>
      </log-layout>
      <script type="application/json" data-role="initial-data">{{ log_data | tojson }}</script>
    </log-viewer-app>
  </main>
{% endblock %}

{% block body_scripts %}
  <script src="{{ url_for('app_js') }}"></script>
{% endblock %}
